*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

#heading {
    height: 45px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
}
#heading small {
    margin: 25px;
}

.navhead #logo {
    color:  #06A3DA;
    font-size: 25px;
    margin: 5px 450px 5px 50px;
    letter-spacing: 2px;
}

.navhead{
    display: flex;
    position: absolute;
}
.navhead #navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
.navhead #navbar a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    /* border-bottom: 2px solid aqua; */
    position: relative;
}

.navhead #navbar a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-top: 2px solid aqua;
    transition: 0.4s linear;
}

.navhead #navbar a:hover:before {
    width: 100%;
}

.navhead #register {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navhead #register a{
    text-decoration: none;
    margin-left: 100px;
    color: white;
    font-size: 15px;
    background:  #06A3DA;
    height: 25px;
    width: 5em;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 5px;

    transition: 0.4s;
}

.navhead #register a:hover {
    background-color: transparent;
    border: 1px solid #06A3DA;
    color: #06A3DA;
}

/* .navhead #navbar input {
    border-radius: 10px;
    text-align: center;
    height: 20px;
}
.navhead #navbar button{
    height: 25px;
    width: 50px;
    border-radius: 10px;
} */
/* Main Section Start */

.home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url('img/carousel-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home #homepagelayout {
    font-size: 50px;
    color: white;
}

.home #homepagelayout p {
    font-size: 25px;
}

.home #homepagelayout a {
text-decoration: none;
color: white;
background-color: transparent;
box-shadow: 2px 3px 5px #06A3DA;
padding: 10px 20px;
letter-spacing: 5px;
font-size: 15px;
border-radius: 10px;
position: relative;
z-index: 1;
transition: 0.4s linear;

}
.home #homepagelayout a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
background-color: black;
    transition: 0.4s linear;
    border-radius: 10px;
}

.home #homepagelayout a:hover:before {
width: 100%;
z-index: -1;
}

/* about */
#about {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about #about-left h3 {
    color: #06A3DA;
    font-size: 25px;
    letter-spacing: 3px;
}

#about #about-left {
    margin: 100px 0px 100px 100px;
}

#about #about-right {
    margin: 100px;
}
#about #about-left h1 {
    font-size: 3em;
}

#about #about-left a {
    text-decoration: none;
    background-color:  #06A3DA;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 10px;
    position: relative;
}

#about #about-left a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    z-index: -1;
    border: 3px solid #06A3DA;
}

#about #about-left h1 span {
    color: #06A3DA;
}


#update_value .po{
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 250px;
    height: 250px;

}
#update_value {
    display: flex;
    position: absolute;
    bottom: 1px;
}